.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  transition: opacity 1s ease;
}

.header__logo:hover {
  opacity: 0.5;
}