.popup__name {
  max-width: 358px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  margin: 54px 36px 13px 36px;
  outline: none;
}