@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

/* Header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* Profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__img/profile__img.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__btn-edit/profile__btn-edit.css);
@import url(../blocks/profile/__btn-add/profile__btn-add.css);

/* Content */
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__img/place__img.css);
@import url(../blocks/place/__name/place__name.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__like-btn/place__like-btn.css);
@import url(../blocks/place/__like-btn/_active/place__like-btn_active.css);

/* Footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* Popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__profession/popup__profession.css);
@import url(../blocks/popup/__button/popup__button.css);

/* Popup-place */
@import url(../blocks/popup-place/popup-place.css);
@import url(../blocks/popup-place/_opened/popup-place_opened.css);
@import url(../blocks/popup-place/__container/popup-place__container.css);
@import url(../blocks/popup-place/__close/popup-place__close.css);
@import url(../blocks/popup-place/__form/popup-place__form.css);
@import url(../blocks/popup-place/__title/popup-place__title.css);
@import url(../blocks/popup-place/__name/popup-place__name.css);
@import url(../blocks/popup-place/__link/popup-place__link.css);
@import url(../blocks/popup-place/__button/popup-place__button.css);